*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    color: #1a162e;
    background: #fbf7b9;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background: transparent;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.active {
    background: rgb(111, 111, 248);
}

input::placeholder {
    font-size: 1.4rem;
}

label {
    font-weight: 500;
}

.dfcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
