@use "../abstracts";

%poa-top-0 {
    position: absolute;
    top: 0;
}
.header {
    position: relative;
    top: 0;
    background: var(--header-bg);
    overflow: hidden;

    @include abstracts.screen(lg) {
        overflow: visible;
    }
}

.header__top {
    padding: 20px 0;

    &--left {
        @extend %poa-top-0;
        left: -10%;
        @include abstracts.screen(xl) {
            left: -12%;
        }
        @include abstracts.screen(lg) {
            display: none;
        }
    }

    &--right {
        @extend %poa-top-0;
        right: -10%;
        @include abstracts.screen(xl) {
            right: -12%;
        }
        @include abstracts.screen(lg) {
            display: none;
        }
    }

    &--lg {
        @include abstracts.screen(lg) {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row-reverse;
        }
    }
}

.header__main {
    padding: 0 0 16px;

    @include abstracts.screen(lg) {
        padding: 0;
    }

    &--list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include abstracts.screen(lg) {
            display: none;
        }
    }

    &--link {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 4px;
        border-radius: 4px;

        &:hover {
            background: #fcba04;
        }

        @include abstracts.screen(xl) {
            flex-direction: column;
        }

        @include abstracts.screen(lg) {
            font-size: 2rem;
            padding: 10px;

            margin: 6px;
            flex-direction: row;
        }
    }
    &--menu-btn {
        display: none;

        @include abstracts.screen(lg) {
            display: block;
        }
    }
}

.navbar-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1.8rem;
    font-weight: 500;

    @include abstracts.screen(lg) {
        gap: 50px;
    }
    @include abstracts.screen(md) {
        gap: 20px;
    }
}
.navbar {
    &-link + &-link {
        margin-left: 20px;
    }
    &-link {
        padding: 10px 0;
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &-right {
        display: flex;
        gap: 28px;

        &__item {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 4px;

            @include abstracts.screen(lg) {
                display: none;
            }
        }
    }

    &-middle__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }

    &--btn {
        background: #ffbc06;
        padding: 4px 6px 4px 10px;
        border-radius: 4px;
        color: #333;
        font-size: 1.2rem;
        line-height: 15px;
        margin-right: 21px;

        @include abstracts.screen(lg) {
            display: none;
        }
    }

    &__search {
        position: relative;

        &--icon {
            position: absolute;
            right: 5px;
            top: 0;
            transform: translateY(38%);
        }

        &--input {
            border: 1px solid #ccc;
            padding: 6px 12px 6px 4px;
            font-size: 1.4rem;
            min-width: 250px;

            &:focus {
                outline: none;
            }
        }
    }
}
