<!-- Banner -->

<div class="home__container">
    <!-- Slider -->

    <div class="slideshow">
        <div class="slideshow__inner">
            <div class="slideshow__item">
                <a href="#!" class="slideshow__link">
                    <img
                        src="./src/assets/img/background-vti.png"
                        alt=""
                        class="slideshow__img"
                    />
                </a>
            </div>
        </div>

        <div class="slideshow__page">
            <button class="slideshow__page--arrow slideshow__back">
                <img
                    class="slideshow__icon"
                    src="./src/assets/icons/arrow-left.svg"
                    alt=""
                />
            </button>
            <button class="slideshow__page--arrow slideshow__next">
                <img
                    class="slideshow__icon"
                    src="./src/assets/icons/arrow-right.svg"
                    alt=""
                />
            </button>
        </div>
    </div>

    <!-- Banner -->
</div>

<!-- <div class="banner-wrap">
    <div class="banner__item">
        <a href="#!" class="banner__link">
            <img
                class="slideshow__img"
                src="./src/assets/img/banner-vti.png"
                alt=""
            />
        </a>
    </div>
</div> -->
