<div class="container">
    <div class="footer-wrap">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="#!"> Tích điểm Quà tặng VIP</a>
                            </li>
                            <li class="footer-item">
                                <a href="#!">Lịch sử mua hàng</a>
                            </li>
                            <li class="footer-item">
                                <a href="#!">Tìm hiểu về mua trả góp</a>
                            </li>
                            <li class="footer-item">
                                <a href="#!"> Chính sách bảo hành</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="#!">Giới thiệu công ty (MWG.vn)</a>
                            </li>
                            <li class="footer-item">
                                <a href="#!">Tuyển dụng</a>
                            </li>
                            <li class="footer-item">
                                <a href="#!">Gửi góp ý, khiếu nại</a>
                            </li>
                            <li class="footer-item">
                                <a href="#!">Tìm siêu thị (3.170 shop)</a>
                            </li>
                            <li class="footer-item">
                                <a href="#!">Xem bản mobile</a>
                            </li>
                        </ul>
                    </div>
                    <div
                        class="col-5"
                        style="
                            display: flex;
                            flex-direction: column;
                            font-size: 1.4rem;
                        "
                    >
                        <span style="font-size: 1.6rem; font-weight: 600">
                            Tổng đài hỗ trợ
                        </span>

                        <span style="margin: 10px 0">
                            Khiếu nại:
                            <a
                                style="color: #2f80ed; font-weight: 500"
                                href="tel:18001062"
                            >
                                1800.1062
                            </a>
                            (8:00 - 21:30)
                        </span>
                        <span>
                            Bảo hành:
                            <a
                                style="color: #2f80ed; font-weight: 500"
                                href="tel:1900 232 464"
                            >
                                1900 232 464
                            </a>
                            (8:00 - 21:30)
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="footer-col">
                    <div class="footer-social">
                        <a class="footer-social__item" href="#!">
                            <img
                                src="./src/assets/icons/fb.svg"
                                alt="Trang chủ Facebook"
                            />
                            3886.8k Fan
                        </a>

                        <a class="footer-social__item" href="#!">
                            <img
                                src="./src/assets/icons/yt.svg"
                                alt="Trang chủ Youtube"
                            />
                            865k Đăng ký
                        </a>

                        <a class="footer-social__item" href="#!">
                            <img
                                style="width: 18px; height: 18px"
                                src="./src/assets/icons/icon_zalo.svg"
                                alt="Trang chủ Zalo"
                            />
                            Zalo TGDĐ
                        </a>
                    </div>
                    <div class="footer-certify">
                        <a href="#!">
                            <img
                                style="
                                    width: 160px;
                                    height: 50px;
                                    object-fit: contain;
                                "
                                src="./src/assets/img/bct.png"
                                alt=""
                            />
                        </a>
                    </div>
                    <div class="footer-website"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <section style="padding: 10px">
            <p style="display: flex; justify-content: center">
                © 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do
                sở KH & ĐT TP.HCM cấp ngày 02/01/2007.
            </p>
        </section>
    </div>
</div>
