<!-- Menu-Header -->

<div class="container">
    <div class="top-bar">
        <nav class="navbar">
            <div class="navbar-left">
                <a href="#!" class="navbar-link">Home</a>
                <a href="#!" class="navbar-link">Admin</a>
            </div>
            <div class="navbar-right">
                <div class="navbar-right__item">
                    <img
                        src="./src/assets/icons/login.svg"
                        alt=""
                        class="navbar-right__icon"
                    />
                    <a href="#!" class="navbar-link">Login</a>
                </div>
                <div class="navbar-right__item">
                    <img
                        src="./src/assets/icons/signup.svg"
                        alt=""
                        class="navbar-right__icon"
                    />
                    <a href="#!" class="navbar-link">Sign Up</a>
                </div>
            </div>
        </nav>
    </div>
</div>
