<div class="category__wrap">
    <div class="category-list row row-cols-4"></div>
</div>

<div class="phone-product">
    <!-- Banner -->
    <div class="banner-wrap">
        <div class="banner__item">
            <a href="#!" class="banner__link">
                <img
                    class="slideshow__img"
                    src="./src/assets/img/banner-vti.png"
                    alt=""
                />
            </a>
        </div>
    </div>

    <!-- Product -->
    <div class="product-card__wrap">
        <div class="product-list row row-cols-4"></div>
    </div>
</div>
