<div class="phone-product">
    <!-- Banner -->
    <div class="banner-wrap">
        <div class="banner__item">
            <a href="#!" class="banner__link">
                <img
                    class="slideshow__img"
                    src="./src/assets/img/banner-vti.png"
                    alt=""
                />
            </a>
        </div>
    </div>

    <!-- Product -->
    <div class="product-card__wrap">
        <div class="row">
            <!-- Product card 1 -->
            <div class="col">
                <article class="product-card">
                    <div class="product-card__img-wrap">
                        <a href="#!">
                            <img
                                src="./src/assets/product/iphone-15-pro-blue-thumbnew-600x600.jpg"
                                alt="Iphone 15 Pro Blue"
                                class="product-card__thumb"
                            />
                        </a>
                    </div>

                    <div class="product-card__info">
                        <h3 class="product-card__title line-clamp">
                            <a href="#!"> Iphone 15 Pro 512GB </a>
                        </h3>
                        <p class="product-card__brand">Hãng sản xuất: APPLE</p>
                        <div class="product-card__value">
                            <button class="product-card__rating">
                                <img
                                    src="./src/assets/icons/star.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                                <img
                                    src="./src/assets/icons/star.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                                <img
                                    src="./src/assets/icons/star.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                                <img
                                    src="./src/assets/icons/star.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                                <img
                                    src="./src/assets/icons/star-half.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                            </button>
                        </div>
                        <div class="product-card__buy">
                            <span class="product-card__cost">$47.00</span>
                            <img
                                class="product-card__cart"
                                src="./src/assets/icons/cart.svg"
                                alt="Cart"
                            />
                        </div>
                    </div>
                </article>
            </div>

            <!-- Product card 2 -->
            <div class="col">
                <article class="product-card">
                    <div class="product-card__img-wrap">
                        <a href="#!">
                            <img
                                src="./src/assets/product/samsung-galaxy-s23-ultra-thumb-xanh-600x600.jpg"
                                alt="Samsung Galaxy S23 Ultra 1TB"
                                class="product-card__thumb"
                            />
                        </a>
                    </div>

                    <div class="product-card__info">
                        <h3 class="product-card__title line-clamp">
                            <a href="#!"> Samsung Galaxy S23 Ultra 1TB </a>
                        </h3>
                        <p class="product-card__brand">
                            Hãng sản xuất: SAMSUNG
                        </p>
                        <div class="product-card__value">
                            <button class="product-card__rating">
                                <img
                                    src="./src/assets/icons/star.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                                <img
                                    src="./src/assets/icons/star.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                                <img
                                    src="./src/assets/icons/star.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                                <img
                                    src="./src/assets/icons/star.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                                <img
                                    src="./src/assets/icons/star-half.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                            </button>
                        </div>
                        <div class="product-card__buy">
                            <span class="product-card__cost">$47.00</span>
                            <img
                                class="product-card__cart"
                                src="./src/assets/icons/cart.svg"
                                alt="Cart"
                            />
                        </div>
                    </div>
                </article>
            </div>

            <!-- Product card 3 -->
            <div class="col">
                <article class="product-card">
                    <div class="product-card__img-wrap">
                        <a href="#!">
                            <img
                                src="./src/assets/product/samsung-galaxy-z-flip5-xanh-mint-thumb-600x600.jpg"
                                alt="Samsung Galaxy ZFlip5  1TB"
                                class="product-card__thumb"
                            />
                        </a>
                    </div>

                    <div class="product-card__info">
                        <h3 class="product-card__title line-clamp">
                            <a href="#!"> Samsung Galaxy ZFlip5 512GB </a>
                        </h3>
                        <p class="product-card__brand">
                            Hãng sản xuất: SAMSUNG
                        </p>
                        <div class="product-card__value">
                            <button class="product-card__rating">
                                <img
                                    src="./src/assets/icons/star.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                                <img
                                    src="./src/assets/icons/star.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                                <img
                                    src="./src/assets/icons/star.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                                <img
                                    src="./src/assets/icons/star.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                                <img
                                    src="./src/assets/icons/star-half.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                            </button>
                        </div>
                        <div class="product-card__buy">
                            <span class="product-card__cost">$47.00</span>
                            <img
                                class="product-card__cart"
                                src="./src/assets/icons/cart.svg"
                                alt="Cart"
                            />
                        </div>
                    </div>
                </article>
            </div>

            <!-- Product card 4 -->
            <div class="col">
                <article class="product-card">
                    <div class="product-card__img-wrap">
                        <a href="#!">
                            <img
                                src="./src/assets/product/iphone-15-pro-gold-thumbnew-600x600.jpg"
                                alt="Iphone 15 Pro Gold"
                                class="product-card__thumb"
                            />
                        </a>
                    </div>

                    <div class="product-card__info">
                        <h3 class="product-card__title line-clamp">
                            <a href="#!"> Iphone 15 Pro 1TB </a>
                        </h3>
                        <p class="product-card__brand">Hãng sản xuất: APPLE</p>
                        <div class="product-card__value">
                            <button class="product-card__rating">
                                <img
                                    src="./src/assets/icons/star.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                                <img
                                    src="./src/assets/icons/star.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                                <img
                                    src="./src/assets/icons/star.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                                <img
                                    src="./src/assets/icons/star.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                                <img
                                    src="./src/assets/icons/star-half.svg"
                                    alt=""
                                    class="product-card__star"
                                />
                            </button>
                        </div>
                        <div class="product-card__buy">
                            <span class="product-card__cost">$47.00</span>
                            <img
                                class="product-card__cart"
                                src="./src/assets/icons/cart.svg"
                                alt="Cart"
                            />
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
