.home__container {
    margin-top: 20px;
}
.slideshow {
    position: relative;
    &__img {
        width: 100%;
        object-fit: cover;
        display: block;
    }
}

.slider-img__height {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
}
.banner-wrap {
    margin-top: 20px;
}
