@use "../abstracts";

.main-container {
    position: relative;
}

.sticky {
    &-sidebar {
        position: fixed;
        bottom: 1px;
        z-index: 1;

        @include abstracts.screen(lg) {
            display: none;
        }
    }
    &-right {
        right: 0;
    }
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
