.product-card {
    padding: 16px;
    border-radius: 20px;
    background: #fff;

    &__wrap {
        padding: 24px 16px;

        background: #a3090c;
    }

    &__img-wrap {
        position: relative;
        padding-top: 100%;
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: transform ease 0.3s;

        &:hover {
            transform: translateY(-10px);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin-top: 20px;
    }

    &__title,
    &__rating,
    &__value {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
    }

    &__brand {
        color: #9e9da8;

        font-size: 1.5rem;
        line-height: 1.47;
        margin-top: auto;
    }

    &__value {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__rating {
        display: flex;
        gap: 6px;
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__star {
        margin-left: auto;
    }

    &__buy {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__cost {
        color: #e83a45;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 18px;
    }
}
